body {
    padding-top: 65px;
}

footer {
    position: absolute;
    bottom: 0;
}

.tagLine {
    font-size: 3.25em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.ack {
    font-size: 60%;
}